* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {

  &:link,
  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

.card-title-name {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}